{% extends 'layouts/base.html' %}

{% set navigation_bar = [
    (url_for('tweets.feed'), 'Home'),
    (url_for('tweets.explore'), 'Explore'),
    ('', 'Bookmarks'),
] %}

{% set active_page = active_page %}

{% macro list_tweets(tweets) %}
    {% for tweet in tweets|reverse %}
        <div class="paper">
            <div class="tweet-header">
                <a
                    class="tweet-author-picture-wrapper"
                    href="{{ url_for('users.show', username=tweet.user.username) }}"
                >
                    <img
                        class="tweet-author-picture"
                        src="{{ tweet.user.picture or url_for('static', filename='images/user-default-picture.png') }}"
                        alt="tweet author picture"
                    >
                </a>
                <div>
                    <a class="tweet-author-name" href="{{ url_for('users.show', username=tweet.user.username) }}">
                        {{ tweet.user.first_name }} {{ tweet.user.last_name }}
                    </a>
                    <span class="tweet-date">
                        {{ tweet.created_at.strftime('%d %B at %H:%M') }}
                    </span>
                </div>
            </div>
            <div class="tweet-text">
                {{ tweet.text }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block body %}
    <div class="main-background">
        <div class="navbar-wrapper">
            <nav class="navbar">
                <img src="{{ url_for('static', filename='images/tweeter.svg') }}" alt="tweeter logo">
                {% if current_user.is_authenticated %}
                    <div class="navbar-pages">
                        {% for link, name in navigation_bar %}
                            <a
                                {% if active_page == link %}
                                    class="active"
                                {% endif %}
                                href="{{ link }}"
                            >
                            {{ name }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="navbar-user">
                        <a class="current-user-picture-wrapper" href="{{ url_for('users.show', username=current_user.username) }}">
                            <img class="current-user-picture" src="{{ current_user.picture or url_for('static', filename='images/user-default-picture.png') }}" alt="current user picture">
                        </a>
                        <div class="current-user-name-wrapper">
                            <div class="current-user-name">{{ current_user.first_name }} {{ current_user.last_name }}</div>
                            <i class="material-icons expand-more">expand_more</i>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-visitor">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.register') }}">Register</a>
                    </div>
                {% endif %}
            </nav>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="page-footer">
            <span>© 2020 Nathanael Ribeiro, devchallenges.io</span>
        </footer>
        {% if current_user.is_authenticated %}
            <div class="bottom-nav-wrapper">
                <nav class="bottom-nav">
                    <a href="{{ url_for('tweets.feed') }}">
                        <i class="material-icons home-icon">home</i>
                    </a>
                    <a href="{{ url_for('tweets.explore') }}">
                        <i class="material-icons explore-icon">explore</i>
                    </a>
                    <a href="">
                        <i class="material-icons bookmark-icon">bookmark</i>
                    </a>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}